<ul>
  <a href="/venues">Venues</a>
  <a href="/cities">Cities</a>
</ul>
<%= link_to "Create Venue", "/cities/#{@city.id}/venues/new" %>
<%= link_to "Order Venues", "/cities/#{@city.id}/venues?sort=asc" %>
<% @venues.each do |venue|  %>
  <h3>Name: <%= venue.name %></h3>
  <p>Capacity:<%= venue.capacity %></p>
  <p>Indoor: <%= venue.indoor %></p>
  <%= link_to "Delete #{venue.name}", "/venues/#{venue.id}", method: :delete %>
<% end %>
<%= form_with url: "/cities/#{@city.id}/venues", method: :get, local: true  do |form| %>
  <%= form.label :capacity, 'Venues with capacity over' %>
  <%= form.text_field :capacity %>
  <%= form.submit 'Apply' %>
<% end %>
