<ul>
  <a href="/venues">Venues</a>
  <a href="/cities">Cities</a>
</ul>
<%= link_to "Create Venue", "/cities/#{@city.id}/venues/new" %>
<%= link_to "Order Venues", "/cities/#{@city.id}/venues?sort=asc" %>
<% @venues.each do |venue|  %>
  <h3>Name: <%= venue.name %></h3>
  <p>Capacity:<%= venue.capacity %></p>
  <p>Indoor: <%= venue.indoor %></p>
<% end %>
