<ul>
  <a href="/venues">Venues</a>
  <a href="/cities">Cities</a>
</ul>
<h1>Venues</h1>
<% @venues.true_records.each do |venue| %>
  <div id='venue-<%= venue.id %>'>
    <h3>Name: <%= venue.name %></h3>
    <%= link_to "Update #{venue.name}", "venues/#{venue.id}/edit"  %>
    <p>Capacity: <%= venue.capacity %></p>
    <p>Indoor: <%= venue.indoor %></p>
  </div>
<% end %>
